<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.rpg.fried_shrimp.mapper.SkillMapper">

	<resultMap id="SkillResultMap"
		type="com.rpg.fried_shrimp.model.PlayerSkill">
		<id property="plSkillId" column="pl_skill_id" />
		<result property="plSkillName" column="pl_skill_name" />
		<result property="plSkillType" column="pl_skill_type" />
		<result property="plSkillEffect" column="pl_skill_effect" />
		<result property="jobId" column="job_id" />
	</resultMap>


	<select id="findPlayerSkills">

	</select>

</mapper>
